<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit ", edit_user_path(@user), class: "btn btn-warning" %> |
  <%= link_to "Back ", users_path, class: "btn btn-success" %>

  <%= button_to "Destroy ", @user, method: :delete, class: "btn btn-danger" %>
</div>
